# Byte-compiled / cache files
__pycache__/
*.py[codz]
*$py.class

# Virtual Environments
.venv/
venv/
env/
csdev/

# Environment variables & secrets
.env
.envrc

# PyInstaller outputs & build files
build/
dist/
*.manifest
*.spec

# IDE and Editor configurations
.idea/
.vscode/
tempCodeRunnerFile.py

# Binaries & Executables
ffmpeg.exe
ffprobe.exe

# Log & SQLite database files (if any)
*.log
*.sqlite3